body {
	min-width: 320px;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #8e939b;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
}

header h1 {
	font-size: 36px;
	line-height: normal;
	font-weight: 900;
	margin: 0 0 15px;
	padding: 2%;
	text-align: center;
}

section h2 {
    padding-left: 2%;
    font-size: 18px;
}

section p {
	padding-left: 4%;
}

footer {
	padding: 2%;
	text-align: center;
}

.obloko-tag__section_text {
	display: inline-block;
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding: 0 11px;
    text-align: left;
    color: #666;
}

.obloko-tag__section {
	background-color: rgba(203, 209, 211, .3);	
	height: 30px;
	line-height: 28px;
	border: 1px solid transparent;
}

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.box>div:last-child {
	width: 75%;
}